<div class="jumbotron center">
  <h1>Finish a book, review a book and recommend a book</h1>
  <p># do something</p>

  <div class="">


  <p><%= link_to "Log in", new_user_session_path, class:"btn btn-default btn-lg" %></p>
  <p><%= link_to "Sign up", new_user_registration_path, class:"btn btn-primary btn-lg" %></p>
  </div>


</div>
