<div class="jumbotron center">
  <h1>Making the web more beautiful, fast, and open through great typography</h1>

  <p><%= link_to "Log in", "#", class:"btn btn-default btn-lg" %></p>
  <p><%= link_to "Sign up", "#", class:"btn btn-primary btn-lg" %></p>

</div>
