@import url(https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i);



$body-bg:                       #EFEFEF;
$navbar-default-bg:             #FF530D;
$navbar-default-link-color:     #fff;
$navbar-default-border:         none;
$navbar-border-radius:          none;
$brand-primary:                #FF530D;
$jumbotron-bg:                  #ddd;
$jumbotron-heading-font-size:   1.6em;
$font-family-sans-serif:        'Karla', sans-serif;



@import 'bootstrap';


.center {
  text-align: center;
}

h1 {
  font-size: 3em;
}

.navbar-brand {
  font-weight: 700;
}
