$body-bg:                       #FAFAFA;
$navbar-default-bg:             #F26E24;
$navbar-default-link-color:     #2c3e50;
$navbar-default-border:         none;
$navbar-border-radius:          none;
$brand-primary:                #192B58;
$jumbotron-bg:                  #00B2A9;
$jumbotron-heading-font-size:   1.6em;

@import 'bootstrap';
